/* material icon stuff for local dev */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/* end material icon stuff for local dev */


/* responsive font sizes for bootystrap */
@media (max-width: 1200px) {
    legend {
      font-size: calc(1.275rem + 0.3vw);
    }
    h1,
    .h1 {
      font-size: calc(1.375rem + 1.5vw);
    }
    h2,
    .h2 {
      font-size: calc(1.325rem + 0.9vw);
    }
    h3,
    .h3 {
      font-size: calc(1.3rem + 0.6vw);
    }
    h4,
    .h4 {
      font-size: calc(1.275rem + 0.3vw);
    }
    .display-1 {
      font-size: calc(1.725rem + 5.7vw);
    }
    .display-2 {
      font-size: calc(1.675rem + 5.1vw);
    }
    .display-3 {
      font-size: calc(1.575rem + 3.9vw);
    }
    .display-4 {
      font-size: calc(1.475rem + 2.7vw);
    }
    .close {
      font-size: calc(1.275rem + 0.3vw);
    }
}

/* our stuff */
.active {
    font-weight: bold;
}

iframe {
    border: 0;
    width: 100%;
    min-width: 375px;
    min-height: 240px;
}

.playlist {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.85em;
    margin: 5px 35px;
    overflow-x: auto;
    padding: 0;
}

.playlist__item {
    display: block;
    flex: 0 0 auto;
    max-height: 150px;
    overflow: hidden;
    padding: 0;
    width: 130px;
}

.playlist::-webkit-scrollbar {
    display: none;
}

.video-controls {
    margin: 10px auto;
}

.highlight-table {
    font-size: 0.85em;
}

.highlight-table th {
  max-width: 100px;
}

.playlist-container {
  position: relative;
  overflow: hidden;
}

.nav-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 5px;
  background: #ccc;
}

.forward {
  left: auto;
  right: 0;
}
